body {
  /* background-color: lightgrey; */
}
.container {
  /* background-color: lightcoral; */
}

.grid {
  
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 720px;
    width: 720px;
    margin-left: 120px;
}

.grid div {
    
    height: 80px;
    width: 80px;

}
.end {
background-color: red;
background-image: url('https://media.istockphoto.com/vectors/racing-insignia-vector-id187557588?k=6&m=187557588&s=612x612&w=0&h=-KNIWWRzTlFBJo3ys_w7qaIndmMa5STIetnh0bH8PBM=');
background-repeat: no-repeat;
background-size: 80px 80px;
}
.start {
    background-color: blue;
    background-image: url('https://media.giphy.com/media/S1xV8cDgf7xJu/giphy.gif');
    background-repeat: no-repeat;
  background-size: 80px 80px;
}

.c1 {
    background-color: black;
    background-image: url('https://previews.123rf.com/images/mechanik/mechanik1612/mechanik161200001/68719846-cartoon-monster-truck-available-eps-10-separated-by-groups-and-layers-with-transparency-effects-for-.jpg');
    background-repeat: no-repeat;
  background-size: 80px 80px;
}

.c2, .c3 {
    background-color: grey;
    background-image: url('https://t2.rbxcdn.com/af0dcf2b210ff4bf9cde107f77b063d0');
    background-repeat: no-repeat;
  background-size: 80px 80px;
}
.l1, .l2, .l3 {
    background-color: brown;
    background-image: url('https://banner2.cleanpng.com/20180827/xsi/kisspng-forest-log-tree-firewood-firewood-forest-log-trapped-png-image-picpng-5b8434d2c438c0.4754663615353909308037.jpg');
    background-repeat: no-repeat;
  background-size: 80px 80px;
 
}
.l4, .l5 {
    background-color: lightblue;
    background-image: url('https://pp.netclipart.com/pp/s/6-64863_river-clipart-transparent-background-cartoon-water-wave-png.png');
background-repeat: no-repeat;
background-size: 80px 80px;
}
.frog {
    /* background-color: green; */
    background-image: url('https://www.pikpng.com/pngl/m/6-68410_cute-cartoon-frog-baby-frog-clip-art-png.png');
    background-repeat: no-repeat;
  background-size: 80px 80px;
}
.h1text {
  text-align: center;
color: red;
}